.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.create_user_form{
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
}

.search_for_users{
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
}

.search_for_users_container{
  text-align: right;
}

.search_for_users_form{
  display: inline-block;
}

.form-group{
  text-align: left;
}

.hidden{
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
